---
layout: default
---

<div class="home">
    <ul class="post-list">
        {% for post in site.posts %} {% if forloop.index >= 1100 %}
        <!--只显示前10篇-->
        {% break %} {% endif %}
        <li>
            <h2>
                <a class="em"></a>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        
            <div class="content">
                {{ post.excerpt }}
            </div>

            <hr id="line">
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    //emoji
    $(function () {
        $(".post-link").each(function(index, ele) {
            //var emojiCode = Math.abs(ele.text.hashCode()) % 950 + 127944;
            var emojiCode = index % 950 + 127944;
            $(ele).parent().children().first().text(String.fromCodePoint(emojiCode));
        })
    })
</script>