<header class="header">
    <div class="header-container">
        <div class="nav">
            {% if page.path == "index.html" %}
            <span class="title">
                <li>
                    <img src="/favicon.ico" alt="pickaxe">
                    <a href="/index.html">{{ site.title }}</a>
                </li>
            </span>
            {% else %}
            <li>
                <img src="/favicon.ico" alt="pickaxe">
                <a href="/index.html">{{ site.title }}</a>
            </li>
            {% endif %} 
            {% if page.path == "c/category.html" %}
            <span class="title">
                <li>
                    <a href="/c/category.html">category</a>
                </li>
            </span>
            {% else %}
            <li>
                <a href="/c/category.html">category</a>
            </li>
            {% endif %} 
            {% if page.path == "c/presentation.html" %}
            <span class="title">
                <li>
                    <a href="/c/presentation.html">presentation</a>
                </li>
            </span>
            {% else %}
            <li>
                <a href="/c/presentation.html">presentation</a>
            </li>
            {% endif %} 
            {% if page.path == "c/about.html" %}
            <span class="title">
                <li>
                    <a href="/c/about.html">about</a>
                </li>
            </span>
            {% else %}
            <li>
                <a href="/c/about.html">about</a>
            </li>
            {% endif %}
        </div>
    </div>
</header>