---
layout: default
---
<div class="post">
    <br>
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
            {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta
            }}{% endif %}
            <span id="wordcount"></span>
        </div>
        <span class="tags">
            {% for tag in page.tags %}
            <a class="tag" href="{{ site.baseurl }}/c/tags#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </span>
        <div>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img class="noopen" alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a>
        </div>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    <!-- word count -->
    <script src="https://cdn.jsdelivr.net/npm/countable@3.0.0/Countable.min.js"></script>
    <script>
        $(function () {
            var post = document.getElementsByClassName("post-content")[0];
            var noncount = $("#character-noncount").text() || 0;
            Countable.count(post, c => {
                var r = c.characters - noncount
                $("#wordcount").text("全文约" + r + "字");
            });
        })
    </script>

    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ site.url }}{{ site.baseurl }}{{ page.url }}";
            this.page.identifier = "{{ site.url }}{{ site.baseurl }}{{ page.url }}";
        };
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document,
                s = d.createElement('script');
            s.src = 'https://tzp-1991.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>

    <!--<script id="dsq-count-scr" src="//tzp-1991.disqus.com/count.js" async></script>-->
    <!--<a href="{{ site.baseurl }}{{ page.url }}#disqus_thread">Link</a>-->
    {% endif %}
</div>